@import "/src/styles/main.scss";

.buttonWrapper {
  position: relative;
  transform: translate(0, 0);
  user-select: none;
  margin: 0 auto;
  overflow: hidden;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.25rem;
  width: calc(100% - 3rem);
  padding: 0.875rem 2rem;
  height: 3.75rem;

  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.06875rem;

  &.fullWidth {
    width: 100%;
  }

  &::after {
    content: " ";
    position: absolute;
    inset: 0;
    border-radius: 0.25rem;
  }

  &:not(:disabled):not(.disabled):after {
    opacity: 0;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    color: color("grey/09");
    background-color: color("grey/07");
    border: none;
  }

  &:not(:disabled):not(.disabled):active:after {
    background-color: color("black");
    opacity: 0.08;
  }

  &:not(:disabled):not(.disabled) {
    &.primary {
      color: color("grey/09");
      background-color: color("primary/04");
      border: none;
    }

    &.secondary {
      color: color("grey/09");
      background-color: color("primary/02");
      border: 1.5px solid color("primary/04");
    }
  }

  .prefixIconWrapper {
    position: absolute;
    display: inline-flex;
    left: 1rem;
  }
}
