@import "./mixin/text.scss";

:root {
  /* Default */
  --white: #ffffff;
  --black: #000000;

  /* Primary */
  --primary-01: #074a2e;
  --primary-02: #006b3e;
  --primary-03: #39936d;
  --primary-04: #00c271;
  --primary-05: #00d17a;
  --primary-06: #05ff97;
  --primary-07: #38ffac;
  --primary-08: #6bffc1;
  --primary-09: #9effd7;

  /* Grey */
  --grey-01: #303131;
  --grey-02: #484b4a;
  --grey-03: #606664;
  --grey-04: #78827e;
  --grey-05: #919c97;
  --grey-06: #abb5b1;
  --grey-07: #c6cdca;
  --grey-08: #e0e5e3;
  --grey-09: #fdfdfd;

  /* Memo */
  --memo-bg: #fcfbf7;
  --memo-pink: #fd7171;
  --memo-orange: #f87a41;
  --memo-brown: #c2804e;
  --memo-yellow: #ffc133;
  --memo-mint: #5be6bd;
}

:root {
  --font-weight-bold: bold;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: normal;
  --samlip-heading1-font-size: 2.875rem;
  --samlip-heading1-line-height: 4.375rem;
  --samlip-heading2-font-size: 1.375rem;
  --samlip-heading2-line-height: 2.125rem;
  --samlip-title1-font-size: 1.125rem;
  --samlip-title1-line-height: 1.75rem;
  --samlip-title2-font-size: 1rem;
  --samlip-title2-line-height: 1.5rem;
  --hs-heading1-font-size: 1.5rem;
  --hs-heading1-line-height: 2.25rem;
  --hs-heading2-font-size: 1.25rem;
  --hs-heading2-line-height: 1.875rem;
  --misaeng-body1-font-size: 1.5rem;
  --misaeng-body1-line-height: 2.25rem;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: color("white");
}

* {
  box-sizing: border-box;
}

select {
  appearance: none;

  &:disabled {
    cursor: not-allowed;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  &::after {
    content: " ";
    position: absolute;
    inset: 0;
    border-radius: 0.25rem;
  }

  &:not(:disabled):not(.disabled):after {
    opacity: 0;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    color: color("grey/09");
    background-color: color("grey/07");
    border: none;
  }

  &:not(:disabled):not(.disabled):active:after {
    background-color: color("black");
    opacity: 0.08;
  }
}
