@import "/src/styles/main.scss";

.bottomFixedSheet {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 26px 30px 46px 30px;
  gap: 36px;
  border-radius: 20px 20px 0px 0px;
  background: color("primary/01");
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  min-height: 280px;
  width: 100%;
  bottom: 0px;

  .tagInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .inputWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 14px;
      width: 100%;
      gap: 24px;
      background-color: color("grey/01");
      border-radius: 4px;

      .input {
        border: none;
        width: 100%;
        outline: none;
        background-color: color("grey/01");

        @include text("Samlip/Title2", "grey/08");
      }

      .plusButton {
        position: relative;
        display: flex;
        border-radius: 50%;
        overflow: hidden;
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        border: none;
        min-width: 24px;
        min-height: 24px;
      }
    }

    .tagListWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
